*{
  margin: 0;
  padding: 0;
}

.App{
  height:100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff; 
}


.hero-image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url('/public/hero.jpg');
  background-position: center; 
  background-size: cover; 
  background-color: rgb(0, 0, 0);
  min-height: 30%;
  width: 100%;
}

.logo{
 font-family: 'Courier New', Courier, monospace;
 margin: 1%;
 font-size: larger;
}


.stories-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70%;
  width: 100%;

}

.stories-heading{
  font-family: Georgia, 'Times New Roman', Times, serif;
  align-self: flex-start;
  padding-left: 8%;
  padding-top: 2%;
  padding-bottom: 1%;
  color: rgb(15, 15, 15);
  font-size: large;
 
}

.not-found-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
}
