.card-container {
    height: 100%;
    width: 100%;
    min-width: 100%;
  }
  .card-details-container{
    background-color: white;
    height: 50%;
    width: 100%; 
    /* border: 1px blueviolet solid; */

  }

  .image-container{
   height: 50%;
   /* border: 1px rgb(226, 43, 125) solid; */
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
 
  
  .words{
    font-size: small;
     padding: 1%;
  }

  .card-title{
  font-weight: bold;
  font-size: large
  }

  